
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h1>Öğrenmek istediğn tarihi girer misin</h1>
    
    @Html.ActionLink("Tarih Gir", "DavetiyeFormu", null, new
{ @class = "btn btn-primary" 

})
</div>

    